body{
	margin: 0px;
}
/* ESTILOS DE CABECERA */
div.cabecera{
	background-color: blue;
	overflow:hidden;
	height: 50px;
	width: 100%;
	position: fixed;
	margin: 0px 5px;
}

div.saludo {
	float:right;
	width: 15%;
	border-style: groove;
	color: white;
	margin-right: 2%;
}
div.saludo a {
	float: right;
	font-size: large;
	font-weight: bold;
}

ul.head-menu {
    list-style-type: none;
	float:left;
	width: 80%;
	height: 100%;
	margin: 0;
	padding: 0;
}
ul.head-menu li {
	display: block;
    float: left;
	height: 100%;
	font-size: large;
	font-weight: bold;
	width: 10%;/*antes 14%*/
	text-align: center;
}
ul.head-menu li a{
	display: block;
}
ul.head-menu li:hover {
    background-color: cyan;
}
ul.head-menu li:hover a {
   color: black;
}
ul.head-menu li a:hover{
	overflow: hidden;
}

/* ESTILOS DEL MENU USUARIO */
div.menu-usuario {
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	border-style: solid;
	width: 15%;
	position:fixed;
}

/* GENERICOS */
div.cuerpo {
	background-color: white;
	padding-top: 50px;
}

fieldset.formulario-contacto {
    display: block;
    margin-left: 2px;
	margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

div.separator-line {
    margin-top: 10px;
    --border: 0.5px dotted;
    margin-bottom: 10px;
	clear: both;
}

/* ESTILOS DEL INDEX */
div.portada {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	min-height: 20%;
	background-color: white;
	border-style: outset;
	width: 80%;
}

/* ESTILOS DE LOGIN Y REGISTRO */
div.login-form {
	padding: 10px;
	text-align: center;
	height: 100%;
	width: 50%;
	margin-left:25%;
	margin-right:25%;
}

/* OTROS */
.hidden { display:none;}
.showen { display: block;}
a.white-link { color: white;}
a.white-link:hover {
	color: black;
	background-color: cyan;
	overflow: auto;
}
a.plain-link { text-decoration: none;}
.vertical-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.text-left {
	float:left;
	clear:left;
}
.text-right {
	float:right;
	clear: right;
}
.max-width{width: 100%; clear: both;}
.error-msg {
    vertical-align:middle;
	color: #D8000C;
    background-color: #FFD2D2;
}
.gg-msg {
    vertical-align:middle;
    background-color: #99ff99;
}
/*mio*/

div.contenido-restaurante{
	padding: 5px;
	height: 100%;
	width: 50%;
	border: 5px solid yellow;
}

.imagen{
	height: 200px;
	width: 300px;
	/*border: 3px solid skyblue;*/
}

div.info-restaurante {
	/*font-family: "Times New Roman", Times, serif;*/ 
	/*ya no es necesario*/
	font-size: 20px;
	width: 30%;
	float: right;
	clear: right;
	border: 5px solid green;
}
div.nombre-restaurante , div.categoria-restaurante{
	/*font-family: "Times New Roman", Times, serif;*/
	/*ya no es necesario*/
	font-family: "Times New Roman", Georgia, serif;
}
div.comentarios{	
	margin-top: 5px;
}
.comentarios div.text-comentarios{
	font-family: Courier, Monaco, monospace;
	font-size: 20px;
	padding:5px;
	height: 100%;
	width: 80%;
	border: 5px solid red;
}

.logo{
	width:125px; 
	height:60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#t1 {
	margin-left: 5%;
    width: 90%;    
    background-color: #f1f1c1;
}
table#t1 td{
	padding: 5px;
	width: 50%;
}

.imagen-t2{
	height: 250px;
	width: 400px;
}

div.info-restaurante-t2{
	/*font-family: "Times New Roman", Times, serif;*/ 
	/*ya no es necesario*/
	padding:0px;
	font-size: 20px;
	height: 250px;
	width: 400px;
	border: 5px solid green;
}

.nombre-restaurante{
	font-weight: bold;
}


table#t2 {
	margin-left: 10%;
    width: 70%;    
    background-color: #f1f1c1;
}
table#t2 td{
	padding: 5px;
	width: 50%;
}

div.contenido{
	padding:10px;
	margin-left: 5%;
	margin-bottom: 5%;
	height: 100%;
	width: 90%;
	border: 5px solid blue;
}

div.detalle-restaurante{
	height: 80%;
	width: 40%;
	padding: 5px;
	float: right;
	clear: right;
	font-size: 20px;
}
.imagen-restaurante{
	height: 300px;
	width: 500px;
}